* {
    font-family: 'Tektur', cursive;
}
.fixed{
    display: block;

}
.h1{
    width: auto;
    height: auto;
    display: inline-block;
    background: gray;
    margin-left: 540px;
    margin-top: 50px;
    border: outset 4px black;
}
.audio{
    margin-left: 507px;
    background: gray;
    display: inline-block;
    border-radius: 30px;
}
.boton{
    background: rgb(120, 203, 228);
    border-radius: 5px;
}
.fixed{
    background: darkslategrey;
    padding: 30px;
}